@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
body {
  font-family: "Montserrat", sans-serif;
  min-height: 80vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

* {
  font-family: "Montserrat", sans-serif !important;
}

body {
	background: linear-gradient(-45deg, #4c3c3c, black, #32425a);
	/*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
	/*background: linear-gradient(-45deg, #205f75, #11335d, #835959, #345a9e);*/
	/*background: linear-gradient(-45deg, #23d5ab, #23a6d5, #23d5ab);*/

	background-size: 400% 400%;
	animation: gradient 25s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.btn-mid {
	margin-top : 0.6rem;
	padding : .3rem 1rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .3rem;
	border : 0;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding-top: 14%;
	vertical-align:bottom;
}

.navbar-item {
	float: left;
	display: inline;
}

.navbar-block {
	display: block;
	font-weight: 500;
	font-size: 22px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  	padding-bottom: 3px
}

.navbar-block:after {
	content: '';
	display: block;
	margin: auto;
	margin-top: 2px;
	height: 1px;
	width: 0px;
	background: white;
	transition: width .17s linear;
}

.navbar-block:hover:after {
	width: 96%;
	background: white;
}

.navbar-block:hover {
	color: white;
	text-decoration: None;
}

.white {
	color: white;
}
